/* reset css */
ul,
ol {
    list-style: none;
}

/* 공통 설정 */
.head_title {
    text-align: left;
    color:#222;
}

/*상단 타이틀 텍스트*/
.container-mode-pc {
    width: 85%;
    position: absolute;
    right: 0;
}

/* PC버전일때 컨텐츠 영역크기 정의 */
.container-item {
    width: 90%;
    margin: 0 auto;
}

/* 컨텐츠 영역 내부요소 넘어감 방지*/

/* 
--------아래의 이름으로 검색해주세요 ----------

doLogin - 로그인 컴포넌트
doSearch - 검색 컴포넌트
ListChart - 차트 리스트 컴포넌트
ListDetail - 상세페이지 컴포넌트
myPage - 마이페이지 컴포넌트
myPageDetail - 마이페이지 상세컴포넌트
SideMenu - 메뉴 네비게이션 컴포넌트 
SlideItem - 슬라이드 컴포넌트
viewChart - 루트 페이지 
----------------------------------------------
*/


/* doLogin */
/* doSearch */
/* ListChart */
.wrap_track_list {color:#222; position:relative; list-style:none;}
.view_track_detail {position:fixed; width:100%; right:0; top:0; z-index:100; padding:15px; background:#F9FBFD;}
.view_track_list {position:absolute; width:100%; right:0; top:500px;}

.track_detail_img {width:300px; height:300px;}

.track_detail_flex {display:flex; flex-direction:row; width:90%; margin:0 auto;}
.track_info_txt p {padding:10px; text-align:left;}
.view_track_list li {width:90%; padding:20px; margin:0 auto; text-align:left; border-radius:15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top:10px;}
.view_track_list li:hover {background:linear-gradient( to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8 ); cursor:pointer; color:#fff;}
/* ListDetail */
.album_info {
    display: flex;
    align-items: center;
}

.album_info_detail {
    text-align: left;
    padding-left: 20px;
    color:#222;
}

.audio_player {
    width: 120px;
    height: 40px;
    background: #585858;
    border-radius: 25px;
    margin-top: 10px;
}

.wrap_album_info { box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding:10px; height:auto;}

/* myPage */
.user_picture_big {
    border-radius: 50%;
}

/* myPageDetail */
/* SideMenu */
.nav_side {
    height: 100%;
    position: fixed;
    background: #fff;
    color:#818181;
    left: 0;
    width: 15%;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav_logo {
    height: 100px;
    line-height: 100px;
}

.wrap_menu {
    padding: 0;
    margin: 0;
}

.wrap_menu li {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.2s;
    width:80%;
    margin:0 auto;
    border-radius:25px;
}

.wrap_menu li:hover {
    background: linear-gradient( to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8 ); color:#fff; }

/* SlideItem */
.wrap_slides {}
/* viewChart */
.home_head_title {color:#222;}